################ CST_1 ( Lys-NH2 to NKS Hemiaminal ) ###############

CST::BEGIN
 TEMPLATE::   ATOM_MAP: 1 atom_name: CL CL1 CL2
 TEMPLATE::   ATOM_MAP: 1 residue3:  NKS

 TEMPLATE::   ATOM_MAP: 2 atom_name: NZ CE CD ,
 TEMPLATE::   ATOM_MAP: 2 residue3:  LYX

 CONSTRAINT:: distanceAB:     1.44  0.05  400.0    1   0
 CONSTRAINT::    angle_A:    111.5  0.50  200.0  360   0
 CONSTRAINT::    angle_B:    118.6  0.50  200.0  360   0

CST::END

################ CST_2 ( Lys-NH2 to NKS Hemiaminal ) ###############

CST::BEGIN
 TEMPLATE::   ATOM_MAP: 1 atom_name: CL OL1 CL1
 TEMPLATE::   ATOM_MAP: 1 residue3:  NKS

 TEMPLATE::   ATOM_MAP: 2 atom_name: NZ CE CD ,
 TEMPLATE::   ATOM_MAP: 2 residue3:  LYX

 CONSTRAINT::    angle_A:    112.6  0.50  200.0  360   0

CST::END

################ CST_3 ( Lys-NH2 to NKS Hemiaminal ) ###############

CST::BEGIN
 TEMPLATE::   ATOM_MAP: 1 atom_name: CL CL2 CL1
 TEMPLATE::   ATOM_MAP: 1 residue3:  NKS

 TEMPLATE::   ATOM_MAP: 2 atom_name: NZ CE CD ,
 TEMPLATE::   ATOM_MAP: 2 residue3:  LYX

 CONSTRAINT::    angle_A:    111.2  0.50  200.0  360   0

CST::END
